@model ProductDto
@{
	ViewBag.Title = "Products";
}

<div class="container mx-auto m-5">
	<div class="card mx-auto p-3" style="max-width:450px;">

		<div class="card-header">
			<h3 class="text-center card-title mb-4">Tags for @Model.Name</h3>
		</div>

		<div class="hstack gap-2 flex-wrap border p-3">
			@foreach (var tag in Model.Tags?.Select(x => x.Tags)!)
			{
				<span class="badge rounded-pill text-bg-primary p-1 px-3 d-flex align-items-center" style="letter-spacing:3px;">
					<span>@tag.Tag</span>
					<a asp-controller="product" asp-action="RemoveProductTag" asp-route-productId="@Model.Id" asp-route-tagId="@tag.Id" >
						<i class="bi bi-x text-danger fs-4"></i>
					</a>
				</span>
			}
		</div>
		<hr/>

		<form asp-controller="product" asp-action="AddProductTag">

			<input type="hidden" name="productId" value="@Model.Id" />
			
			<div class="mb-3 vstack">
				<label class="text-light-emphasis">Tag</label>
				<select name="tagId" class="form-select" asp-items="@ViewBag.Tags"></select>
			</div>

			<button class="btn btn-success d-block w-75 mx-auto" type="submit">Add Tag</button>
		</form>

	</div>
</div>
