@model IEnumerable<ProductDto>
@{
	ViewBag.Title = "Products";
}

<div class="container mx-auto m-5 overflow-x-auto" style="max-width:1200px;">

	<a asp-controller="product" asp-action="Upsert" asp-area="admin" class="btn  btn-primary px-4 d-inline-block mb-2">
		<i class="bi bi-plus-circle"></i> Create
	</a>

	@if (Model.Count() > 0)
	{
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Total Sold</th>
					<th>In Inventory</th>
					<th>Collection</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var product in Model)
				{
					<tr>
						<td>@product.Name</td>
						<td>@product.Price.ToString("c")</td>
						<td>@product.TotalSold</td>
						<td>@product.InInventory</td>
						<td>@product.ProductCollection?.CollectionName</td>
						<td>
							<a class="btn btn-sm btn-success" asp-controller="product" asp-action="upsert" asp-area="admin" asp-route-id="@product.Id">Edit</a>
							<a class="btn btn-sm btn-danger" asp-controller="product" asp-action="delete" asp-area="admin" asp-route-id="@product.Id">Delete</a>

							<a class="btn btn-sm btn-info" asp-controller="product" asp-action="AddProductTag" asp-area="admin" asp-route-productId="@product.Id">Tags</a>

							<a class="btn btn-sm btn-secondary" asp-controller="product" asp-action="ProductImages" asp-area="admin" asp-route-productId="@product.Id">Images</a>

						</td>
					</tr>

				}
			</tbody>


		</table>
	}


</div>