@model ProfileDto

@{
	ViewBag.Title = "Profile";
}

<dvi class="container mx-auto my-5">
	<div class="card p-4 mx-auto" style="max-width:650px;width:95vw;">

		<h1 class="text-center my-2">Profile</h1>

		<div class="text-danger my-2" asp-validation-summary="All">
		</div>

		@if(Model.ProfileImage != null) 
		{
			<img src="@Model.ProfileImage" width="60" height="60" class="rounded-circle object-fit-cover"/>
		}

		<form asp-controller="profile" asp-action="userProfile" enctype="multipart/form-data">

			<input asp-for="Id" value="@Model.Id" type="hidden"/>
			<input asp-for="ProfileImage" value="@Model.ProfileImage" type="hidden"/>

			<div class="form-floating mb-3">
				<input asp-for="Name" class="form-control" id="Name" placeholder="Name" value="@Model.Name">
				<label for="Name">Name</label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="Phone" class="form-control" id="Phone" placeholder="Phone" value="@Model.Phone">
				<label for="Phone">Phone</label>
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="Country" class="form-control" id="Country" placeholder="Country Name" value="@Model.Country">
				<label for="Address">Country Name</label>
			</div>


			<div class="form-floating mb-3">
				<input asp-for="Address" class="form-control" id="Address" placeholder="Address" value="@Model.Address">
				<label for="Address">Address</label>
			</div>

			<label class="btn btn-primary btn-sm px-3" type="button" role="button">
				Upload Image <input class="d-none" type="file" asp-for="File"/>
			</label>


			<button class="btn btn-success d-block w-75 mx-auto mt-3" type="submit">Update Profile</button>

		</form>
		
	</div>
</dvi>


@section scripts {
	<partial name="_ValidationScriptsPartial" />

}